*{
	margin: 0px;
	padding: 0px;
	font-family: 'PT Sans', sans-serif;
	font-family: 'Open Sans', sans-serif;
}

.main{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 200px;
	height: 200px;
	border-style: solid;
	border-width: 1px;
	margin: auto;
	margin-top: 75px;
	padding: 5px;
	/*background-color: gray;*/
}

.main button{
	width: 33%;
	height: 33%;
	display: inline;
	list-style: none;
	padding: 0px;
	margin: 0px;
	color: black;
	font-weight: bold;
	font-size: 32px;
}

.menu{
	
	margin-left: 35%;
	margin-top: 75px;
}

.menu button{
	background-color: white;
	height: 50px;
	width: 150px;
	border-style: solid;
	border-radius: 10px;
	background-color:#fdcfcf;
	color: white;
}

.menu button:hover{
	background-color: white;
	height: 50px;
	width: 150px;
	border-style: solid;
	border-radius: 10px;
	background-color:#f22323d9;
	color: white;
}

.placar{
	height: 80px;
	width: 175px;
	text-align: center;
	margin-left: 44.7%;
	margin-top: 10px;
	border: 1px solid;
	border-radius: 10px;
	border-color: gray;
}

.placar h4{
	margin-top: 0px;
}

.players{
	margin: 4px;
	text-align: left;	
}

.player1 label{
	margin-left: 5px;
	margin-bottom: 10px;	
	display: flex;
	/*border-right: 1px solid;*/

}

.player1 #marca1{
	display: inline-block;
	height: 15px;
	width: 15px;
	font-weight: bold;
	float: left;
	/*border-right: 1px solid;*/

}
.player1 #nome1{
	display: inline-block;
	height: 15px;
	width: 12px;
	font-weight: bold;
	float: center;
	/*border-right: 1px solid;*/

}
.player1 #p1_wins{
	display: inline-block;
	height: 15px;
	width: 15px;
	font-weight: bold;
	float: right;
	/*border-right: 1px solid;*/

}

.player2 label{
	height: 5px;
	width: 10px;
	margin-left: 5px;
	display: flex;
	/*border-right: 1px solid;*/

}

.player2 #marca2{
	display: inline-block;
	height: 15px;
	width: 15px;
	font-weight: bold;
	float: left;

}

.player2 #nome2{
	display: inline-block;
	height: 15px;
	width: 15px;
	font-weight: bold;
	float: center;

}

.player2 #p2_wins{
	display: inline-block;
	height: 15px;
	width: 15px;
	font-weight: bold;
	float: right;

}